<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>petshop</display-name>
  <servlet>
    <servlet-name>Main Servlet</servlet-name>
    <servlet-class>MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main Servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pet Servlet</servlet-name>
    <servlet-class>PetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pet Servlet</servlet-name>
    <url-pattern>/pets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tutor Servlet</servlet-name>
    <servlet-class>TutorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tutor Servlet</servlet-name>
    <url-pattern>/tutores</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>